<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Pendientes¡¡¡</h1>
  <ion-card *ngFor="let lista of listaDeseosService.listas">
    <ion-item>
      Botton
    </ion-item>
    <h2>{{ lista.nombre }}</h2>
    <ion-list>
      <ion-item>
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        lel
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        lolis
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        lul
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="irAgregar()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
